
<div class="signin-content">
  <mat-card>
    <mat-card-title>Registracija</mat-card-title>
    <mat-card-content>
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <mat-form-field class="full-width-input" appearance="outline">
          <mat-icon matPrefix>account_box</mat-icon>
          <input matInput type="text" placeholder="Vardas" formControlName="firstName" class="form-control"
                 [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }"/>
          <mat-error>
          <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
            <div *ngIf="f.firstName.errors.required" class="error">Įveskite vardą</div>
          </div>
          </mat-error>

        </mat-form-field>
        <br>
        <mat-form-field class="full-width-input" appearance="outline">
          <mat-icon matPrefix>account_box</mat-icon>
          <input matInput type="text" placeholder="Pavardė" formControlName="lastName" class="form-control"
                 [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }"/>
          <mat-error>
          <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
            <div *ngIf="f.lastName.errors.required" class="error">Įveskite pavardę</div>
          </div>
            </mat-error>

        </mat-form-field>
        <br>
        <mat-form-field class="full-width-input" appearance="outline">
          <mat-icon matPrefix>email</mat-icon>

          <input matInput type="email" placeholder="El. paštas" formControlName="email" class="form-control"
                 [ngClass]="{ 'is-invalid': submitted && f.email.errors }"/>
          <mat-error>
          <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
            <div *ngIf="f.email.errors.required" class="error">Įveskite el. paštą</div>
            <div *ngIf="f.email.errors.email" class="error">Įveskite tinkamą el. paštą</div>
          </div>
            </mat-error>

        </mat-form-field>
        <br>
        <mat-form-field class="full-width-input" appearance="outline">
          <mat-icon matPrefix>vpn_key</mat-icon>

          <input matInput type="password" placeholder="Slaptažodis" pattern="^(?=.*[ąčęėįšųūža-z])(?=.*[ĄČĘĖĮŠŲŪŽA-Z])(?=.*\d).{6,}$" formControlName="password" class="form-control"
                 [ngClass]="{ 'is-invalid': submitted && f.password.errors }"/>
          <mat-error>
          <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
            <div *ngIf="f.password.invalid" class="error">Slaptažodį turi sudaryti bent viena mažoji ir didžioji raidė, skaičius</div>
            <div *ngIf="f.password.errors.required" class="error">Įveskite slaptažodį</div>
            <div *ngIf="f.password.errors.minlength" class="error">Slaptažodį turi sudaryti bent 6 simboliai</div>

          </div>
            </mat-error>

        </mat-form-field>
        <br>
        <mat-form-field class="full-width-input" appearance="outline">
          <mat-icon matPrefix>vpn_key</mat-icon>

          <input matInput type="password" placeholder="Pakartokite slaptąžodį" formControlName="confirmPassword"
                 class="form-control" [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }"/>
          <mat-error>
          <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
            <div *ngIf="f.confirmPassword.errors" class="error">Slaptažodžiai turi sutapti</div>
          </div>
            </mat-error>
        </mat-form-field>
        <div>
          <button mat-raised-button color="primary" [disabled]="loading" class="btn btn-primary">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Registruotis
          </button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
