<div class="forgotPassContent">
  <mat-card>
    <h1>Įveskite elektroninio pašto adresą</h1>
    <mat-card-content>
      <form #forgotpasswordform="ngForm" class="login-form" (ngSubmit)="onSubmit()">

        <mat-form-field class="full-width-input" appearance="outline">
          <mat-icon matPrefix>email</mat-icon>
          <mat-label>Elektroninis paštas</mat-label>
          <input matInput name="email" email type="email" required >
        </mat-form-field>
        <button mat-raised-button color="primary" routerLink="/" id="backbtn">Atgal</button>
        <button mat-raised-button color="primary">Patvirtinti</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
