
<div class="signin-content">
  <mat-card>
    <mat-card-title>Prisijungimas</mat-card-title>
    <mat-card-content>
      <form #loginForm="ngForm" class="login-form" (ngSubmit)="onSubmit()">
        <mat-form-field class="full-width-input" appearance="outline">
          <mat-icon matPrefix>email</mat-icon>
          <mat-label>El. paštas</mat-label>
          <input matInput [(ngModel)]="user.email" name="email" email type="email" required #emailInput="ngModel">
          <mat-error *ngIf="passInput.invalid && (passInput.dirty || passInput.touched)" class="error">
            <p *ngIf="passInput.errors.required">Netinkamas el. paštas.</p></mat-error>
        </mat-form-field>
        <br>
        <mat-form-field class="full-width-input" appearance="outline">
          <mat-icon matPrefix>vpn_key</mat-icon>
          <mat-label>Slaptažodis</mat-label>
          <input matInput [(ngModel)]="user.password" type="password" name="pass" required #passInput="ngModel">
          <mat-error *ngIf="passInput.invalid && (passInput.dirty || passInput.touched)" class="error">
            <p *ngIf="passInput.errors.required">Neįvestas slaptažodis.</p></mat-error>
        </mat-form-field>
        <p *ngIf="submitted && errorMessage!= null" class="error">Neteisingi prisijungimo duomenys</p>
        <div>
          <button mat-raised-button color="primary" (click)="onLoginButtonClick()">Prisijungti</button>
          <p>
            <button mat-raised-button color="primary" type="button" class="registrationBttn" routerLink="/register" routerLinkActive="active">Registruotis</button>
          </p>
          <span class="psw"><a routerLink="/forgot-password">Priminti slaptažodį</a></span>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
