footer {
  background-color: #534741;
  text-align: center;
  padding-bottom: 12px;
  padding-top: 13px;
}
.list{
  list-style-type:none;
}
#footer-title{
  color: #fff;
  font-family: "Helvetica Neue", cursive;
  font-size: 20px;
  padding-top: 20px;
}
