table {
  width: 100%;
  padding: 20px 40px;
}

.background-color {
  background-color: #ebebeb;
}


.flex-container-item {
  margin: 5px;
  padding: 10px;
}

.container-report-date {
  //display: flex;
  //justify-content: center;
  //align-content: center;
  min-width: 50%;
}

.report-date-field {
  padding: 20px 40px;
}

.list-container {
  margin-top: 5vh;
}

.container {
  padding: 20px 40px;
}

form {
  text-align: center;
}

.icon {
  margin-right: 10px;

}

span.icon:hover {
  cursor: pointer;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

form {
  padding-bottom: 10px;
  padding-left: 45px;

}

.primary {
  background: orange;
  color: white;
}

.date-block {
  display: flex;
}



.button-margin {
  margin-right: 20px;
}

.date-block__list {
  flex-basis: 150px;
  margin-right: 15px;
}

.container-date {
  margin-left: 20px;
}

mat-card {
  max-width: 95%;
  margin: auto;
  text-align: center;
  padding-top: 40px;
}

.mat-raised-button{
  margin-bottom: 4px;
  background-color: #f39c12;
}
.mat-raised-button:link,
.mat-raised-button:visited {
  display: inline-block;
  font-weight: 300;
  text-decoration: none;
  border-radius: 200px;
  transition: background-color 0.5s, border 0.2s, color 0.5s;
}
.mat-raised-button:link, .mat-raised-button:visited {
  background-color: #f39c12;
  color: white;
}
.mat-raised-button:hover, .mat-raised-button:active{
  background-color: #b87409;
}
.mat-raised-button:hover,
.mat-raised-button:active {
  background-color: #b87409;
  color: white;
}

button{
  margin-right: 10px;
}


.report{
  float: right;
}

mat-card-title{
  margin-bottom: 30px;
}

.mat-row:hover {
  background-color: #ebebeb;
}

.icon {
  transition: all .2s ease-in-out;
}

.icon:hover {
  transform: scale(1.3);
  color: #f06d06;
}


