.fixed-bottom {
  position: fixed;
  bottom: 30px;
  right: 30px;

}

.btn-add{
  transition: all .2s ease-in-out;
  background-color: red;
  background-image:
    linear-gradient(
        to right,
        red, #f06d06
    );
}

.btn-add:hover{
  transform: scale(1.2);
}
