form{
  width: 80%;
  margin: 0 auto;
}
mat-form-field{
width: 100%;
}

.one-half{
  width: 45%;
}

.container{
display: flex;
justify-content: space-around;
}


.left{
  text-align: left;
}
mat-card {
  max-width: 60%;
  margin: 1em auto;
  text-align: center;
}
